.panel{
    padding: 10px;
    border-radius: 0;
}

.panel .panel-heading{ padding: 20px 15px 0; }

.panel .panel-heading .title{
    color: #ecde84;
    font-weight: 700;
    letter-spacing: 3px;
    padding-top: 0px;
    padding-left: 0px;
}

.panel .panel-heading .btn{
    background-color: #6D7AE0;
    padding: 6px 12px;
    border-radius: 0;
    border: none;
    transition: all 0.3s ease 0s;
}

.panel .panel-heading .btn:hover{
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.08);
}

.panel .panel-body .table{
    margin: 0;
    white-space: pre;
    overflow-x: scroll;
}

.panel .panel-body .table tr td{ border-color: white; }

.panel .panel-body .table thead tr.active th{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 20px;
    letter-spacing: 1px;
}

.panel .panel-body .table tbody tr:hover{ background-color: rgba(109, 122, 224, 0.1); }

.panel .panel-body .table tbody tr td{
    color: white;
    padding: 8px 12px;
    vertical-align: middle;
}

.panel .panel-body .table tbody .btn{
    border-radius: 0;
    transition: all 0.3s ease;
}

.panel .panel-body .table tbody .btn:hover{ box-shadow: 0 0 0 2px #333; }
.table>:not(:first-child) {
    border-top:0 !important;
}
tbody, td, tfoot, th, thead, tr {
    border-color: 0 !important;
    border-style: 0 !important;
    border-width: 0 !important;
}
.table-responsive tbody tr{
    background: hsla(0,0%,100%,.05);
    background: hsla(0,0%,100%,.05);
    display: flex;
    margin: 10px 0px;
    align-items: center;
    justify-content: center;
}
.table>thead {
    vertical-align: bottom;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.buy_color{
    color: green !important;
}